<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647837629727-7eeifcnl3o7g3lbqraelhv8l2fptg3bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647837629727-7eeifcnl3o7g3lbqraelhv8l2fptg3bi</string>
	<key>API_KEY</key>
	<string>AIzaSyAst9d681sikIbhfqR2wRHuJYeLaKksCFg</string>
	<key>GCM_SENDER_ID</key>
	<string>647837629727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appSynergiesChat</string>
	<key>PROJECT_ID</key>
	<string>appsynergieschat-ac36e</string>
	<key>STORAGE_BUCKET</key>
	<string>appsynergieschat-ac36e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647837629727:ios:f169072776b47a63b5842a</string>
</dict>
</plist>